img {
  max-width: 275px;
}
.member-block {
  margin-top: 15px;
}
mat-spinner {
  margin: 0 auto;
  margin-top: 20px;
}
.link {
  display: block;
  margin-top: 7px;
}
.user-info-container {
  display: flex;
  flex-direction: row;
}
.user-info {
  margin-left: 15px;
}
h3 {
  margin-top: 0;
}
