<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container member-block" *ngFor="let member of members">
  <mat-card>
    <img [src]="member.avatar_url" [alt]="member.login">
    <h3>{{member.login}}</h3>
    <a class="link" [routerLink]="[member.login, 'followers']" (click)="onLoadFollowers(member.login)">Check Followers</a>
    <a class="link" [routerLink]="[member.login, 'following']" (click)="onLoadFollowing(member.login)">Check Following</a>
    <button mat-button [routerLink]="[member.login]" (click)="onLoadUser(member.login)">View page</button>
  </mat-card>
</div>
